.Product {
    display: flex;
    color: blue;
}

.Product > h2 {
    text-align: center;
    width: 60%;
}

.Count{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}